<div>
  <div>
    <%= @movie.id %>
  </div>
  <div>
    <%= @movie.name %>
  </div>
  <div>
    <%= @movie.description %>
  </div>
  <div>
    <%= @movie.release_date %>
  </div>
  <%= link_to 'Back', :back %>
</div>

