<div>
  <div>
    <%= @all_movie.id %>
  </div>
  <div>
    <%= @all_movie.name %>
  </div>
  <div>
    <%= @all_movie.description %>
  </div>
  <div>
    <%= @all_movie.release_date %>
  </div>
  <%= link_to 'Back', :back %>
</div>
